

		<!-- Page Wrapper -->
			<div id="page-wrapper">

<br><br>
<div class="wrapper">
  <div class="inner">
		<p id="notice"><%= notice %></p>

    <div class="table-wrapper">
    <table class="alt">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Github username</th>
			<th>Edit</th>
			<th>PR</th>
			<th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @coders.each do |coder| %>
      <tr>
        <td><%= coder.name %></td>
        <td><%= coder.email %></td>
        <td><%= coder.github_username %></td>
        <td><%= link_to 'Show', coder %><br>
						<%= link_to 'Edit', edit_coder_path(coder) %><br>
						<td>
									<%= @pr.count %>
									
						</td>
						<td>
						<%= link_to 'Reward', edit_coder_path(coder) %></td>
						</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '+  New Coder', new_coder_path %>

</div>
</div>
</div>


<!-- Scripts -->
<script src="/js/skel.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/js/main.js"></script>
