<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coder.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coder.email %>
</p>

<p>
  <strong>Github username:</strong>
  <%= @coder.github_username %>
</p>

<%= link_to 'Edit', edit_coder_path(@coder) %> |
<%= link_to 'Back', coders_path %>
